.container__small-card{
    margin: 10px;
    border-bottom: solid white 3px ;
    height: 110px;
    width: 700px;
/* 
    display: flex;
    flex-direction: row; */
    /* align-items: center;
    justify-content: space-around; */
}

.container__small-card-content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.small-card__image > img {
    width: 200px;
    height: 100%;
    /* min-width: 200px; */
}

.small-card__title > h1{
    text-align:justify;
    font-size: 18px;
    /* width: 150px;     */
}