<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHMwmDIoDRoTwRAKqQgTOOIpXn8ZSzXYJ6Bw&usqp=CAU" 
        cardTitle="Cogumelos Para boas viagens"
        cardDescription="Cogumelos são conhecidos por seus efeitos alucinogenos, mas também possuem propriedades terapêuticas"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHMwmDIoDRoTwRAKqQgTOOIpXn8ZSzXYJ6Bw&usqp=CAU" 
        cardTitle="lOREM IMPSUM DOLUM MASTECTUM OPIUM BOLIEN"></app-small-card>
        <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHMwmDIoDRoTwRAKqQgTOOIpXn8ZSzXYJ6Bw&usqp=CAU" 
        cardTitle="lOREM IMPSUM DOLUM MASTECTUM OPIUM BOLIEN"></app-small-card>
        <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHMwmDIoDRoTwRAKqQgTOOIpXn8ZSzXYJ6Bw&usqp=CAU" 
        cardTitle="lOREM IMPSUM DOLUM MASTECTUM OPIUM BOLIEN"></app-small-card>
    </div>
</div>