<div class="container__menu-bar">
    <div class="container__menu-items">
        <ul class="items">
            <li><a href="https://github.com/R-SamuelBraga" target="_blank">Github</a></li>
            <li><a href="https://www.linkedin.com/in/renan-samuel-braga-515547202/" target="_blank">Linkedin</a></li>
            <li><a href="">Meu Site</a></li>
        </ul>
    </div>
    <div class="container__logo">
        <a href="#"><img src="../../../assets/cogumelo.png" alt="logo"></a>
    </div>
</div>
